body {background-color: lightblue;}
footer {background-color: lightpink;}
p {font-family: Verdana, Geneva, Tahoma, sans-serif;}
h1 {font-size: x-small; color: mediumblue;}
em {color: orangered;}
ul {font-style: oblique;}
div {color: darkred ;}
h3 {font-size: 24pt;}